<div class="bg-base-400 h-screen w-screen flex">
  <div class="sidenav w-60 relative p-4">
    <div class="account flex items-center gap-2 mb-4">
      <img
        alt="profile photo"
        class="rounded-full"
        style="height: 20px; width: 20px"
        src="/assets/images/avatar.png"
      />
      <p class="m-0 text-sm">Superstars AI</p>
    </div>
    <h4 class="text-sm text-chalk-400 m-0 py-2">Pages</h4>
    <div class="flex flex-col gap-1">
      @for (item of navItems; track $index) {
      <a
        [routerLink]="item.path"
        routerLinkActive="active"
        class="nav-item w-48 p-nav rounded-lg hover:bg-chalk-100 active:bg-gray-50 cursor-pointer"
      >
        <div class="flex items-center text-sm">
          <div class="w-5 h-5 flex items-center text-center">
            @if (item.children) {
            <mat-icon
              class="text-sm content-center"
              fontSet="material-icons-outlined"
              >keyboard_arrow_down</mat-icon
            >
            }
          </div>
          <mat-icon
            class="text-lg leading-5 content-center"
            fontSet="material-icons-outlined"
            >{{ item.icon }}</mat-icon
          >
          <span>{{ item.label }}</span>
        </div>
      </a>
      }
    </div>
    <div class="absolute bottom-4">
      <img
        src="/assets/images/logo.png"
        alt="logo"
        class="w-30 h-auto mt-4 mb-4"
      />
    </div>
  </div>
  <div class="main-content flex-1">
    <app-navbar [currentPage]="currentPage" />
    <div class="route-container p-8">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="right-sider w-72 border-l border-divider-300">
    <div class="px-4 py-6">
      <h4 class="text-base mb-4">Notifications</h4>
      <div class="notification-list flex flex-col gap-4">
        @for (notification of notifications; track $index) {
        <div class="notification-item flex gap-4">
          <div
            class="notification-icon flex items-center justify-center bg-sky-300 h-8 w-8 rounded-full p-2"
          >
            <mat-icon
              class="text-black text-base"
              fontSet="material-icons-outlined"
              >{{ notification.icon }}</mat-icon
            >
          </div>
          <div class="notification-content">
            <p class="m-0">{{ notification.message }}</p>
            <p class="text-xs text-chalk-400 m-0">
              {{ notification.timestamp | date : "dd MMM YYYY HH:MM" }}
            </p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
